In [1]:
import os

In [12]:
files = os.listdir('data')

In [63]:
RR = []
EM = []
HM = []
MZ = []
def append(game, file):
    if game == "RR":
        RR.append(file)
    elif game == "EM":
        EM.append(file)
    elif game == "HM":
        HM.append(file)
    elif game == "MZ":
        MZ.append(file)

for file in files:
    #f = open('data/'+file, 'r')
    if "Regular_Race" in file:
        append("RR",file)
    elif "Race_Easy_Mode" in file:
        append("EM",file)
    elif "Race_Hard_Mode" in file:
        append("HM", file)
    else:
        append("MZ", file)
        
RR.sort()
EM.sort()
HM.sort()
MZ.sort()

In [64]:
from copy import deepcopy

def judge(li):
    expected = ["level", "mcts", "spin"]
    to_ret = []
    tbr = []
    for name in li:
        if name.split('_')[-1] == expected[0]:#New record
            if tbr == []:
                pass
            else:
                to_ret.append(deepcopy(tbr))
                tbr.clear()
            tbr.append(name)
        else:
            tbr.append(name)
    return to_ret

RR = judge(RR)
EM = judge(EM)
HM = judge(HM)
MZ = judge(MZ)

In [62]:
import pandas as pd
indexes = ['lvl_size', 'M_points', 'M_moves', 'M_term', 'M_time', 'S_point', 'S_moves', 'S_term', 'S_time']
def record_level(level):
    sz = level[0].split('_')[1]
    if len(level) == 1:
        data = [sz, None, None, None, None, None, None, None, None]
    else:
        f = open("data/"+level[1], 'r')#mcts
        lines = f.readlines()
        m_points = int(lines[0].split(': ')[-1])
        m_term = bool(lines[1].split(': ')[-1])
        m_time = float(lines[2].split(':')[-1])
        m_moves= lines[3].split(': ')[-1]
        f.close()
        
        f = open("data/"+level[2], 'r')#spin
        lines = f.readlines()
        s_points = int(lines[0].split(': ')[-1])
        s_term = bool(lines[1].split(': ')[-1])
        s_time = float(lines[2].split(':')[-1])
        s_moves= lines[3].split(': ')[-1][:-6]
        f.close()
        
        data = [sz, m_points, m_moves, m_term, m_time, s_points, s_moves, s_term, s_time]
    return data

In [66]:
#THOSE ARE THE REGULAR RACES

rr_data = []
for rr in RR:
    rr_data.append(record_level(rr))
    
rr_df = pd.DataFrame(rr_data, columns=indexes)

from IPython.display import display, HTML

display(HTML(rr_df.to_html()))

In [67]:
#THOSE ARE THE EASY MODE RACES

em_data = []
for em in EM:
    em_data.append(record_level(em))
    
em_df = pd.DataFrame(em_data, columns=indexes)

from IPython.display import display, HTML

display(HTML(em_df.to_html()))

In [68]:
#THOSE ARE THE HARD MODE RACES

hm_data = []
for hm in HM:
    hm_data.append(record_level(hm))
    
hm_df = pd.DataFrame(hm_data, columns=indexes)

from IPython.display import display, HTML

display(HTML(hm_df.to_html()))

In [70]:
#THOSE ARE THE MAZES

mz_data = []
for mz in MZ:
    mz_data.append(record_level(mz))
    
mz_df = pd.DataFrame(mz_data, columns=indexes)

from IPython.display import display, HTML

display(HTML(mz_df.to_html()))